<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-12">
        <div class="form-group mt-5">
          <h5>Select box like multi select</h5>
          <div>
            <div class="btn-group mt-2 selected" role="group" aria-label="Second group">
              <button type="button" *ngFor="let item of selectedSports; let i = index" 
              class="btn btn-secondary m-1"
                (click)="removeItem(item, i)">
                {{item}}
              </button>
            </div>
            <input type="search" placeholder="Search item" class="form-control" 
              (input)="search($event)" (click)="showDropDown()">
            <ul class="list-group list-group-flush ul-list" *ngIf="isDropDownOpen">
              <li class="list-group-item" [ngClass]="{disabled: sport.selected}"
                *ngFor="let sport of allSports; let i= index" (click)="addItem(sport.id)">
                {{sport.title}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>